
<%- partial('partials/header') %>

<div id="section_main">
	<noscript>
		<p>Javascript is currently disabled. Please <a href="http://www.google.com/support/bin/answer.py?answer=23852" target="_blank">enable javascript</a> for the optimal experience!</p>
	</noscript>
	<div id="section_content">
		<%- body %>
	</div>
</div>

<%- partial('partials/footer') %>
